.filter-bar {
  position: fixed;
  top: 6rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
  max-width: 64rem;
  z-index: 10;
  padding: 0.3rem 1rem;
  transition: all 0.3s ease-in-out;
}

.filter-bar.scrolled {
  top: 1rem;
  padding: 0.2rem 0.5rem;
  border-radius: 20px;
}

.filter-item {
  padding: 0.5rem 1rem;
  text-align: center;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1; /* Flex 속성을 사용하여 고정된 크기 설정 */
  min-width: 190px;
  transition: all 0.3s ease-in-out;
}

.filter-bar.scrolled .filter-item {
  padding: 0.3rem 0.5rem;
  min-width: 150px;
}

.filter-item:not(:last-of-type) {
  border-right: 1px solid #e5e7eb;
}

.filter-label {
  font-size: 0.80rem;
  font-weight: 600;
  color: #4b5563;
  margin-bottom: 0.25rem;
}

.filter-bar.scrolled .filter-label {
  font-size: 0.875rem;
  font-weight: 600;
}

.filter-value {
  font-size: 0.875rem;
  color: #5e5e5e;
}

.filter-search-button {
  background-color: #ef4444;
  color: white;
  border-radius: 30px;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 70px;
  margin-left: 15px;
  transition: all 0.3s ease-in-out;
}

.filter-bar.scrolled .filter-search-button {
  padding: 0.3rem 0.5rem;
  min-width: 50px;
  cursor: not-allowed;
}

.filter-search-button:hover {
  background-color: #dc2626;
}

.traveler-filter-modal,
.price-range-filter-modal {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 1rem;
}
