.main_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.card_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 10px 0;
}

.text-content {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
